.appContainer {
  background-color: pink;
}
.heading1 {
  font-size: 32px;
}
.pug {
  background: url('./pug.jpg') no-repeat left top;
  height: 260px;
}
.caption {
  background-color: rgba(#ffbf00, 0.4);
}
